.supercontainer {
  margin: 8px auto;
  direction: rtl;
  height: 100px;
}
.supercontainer span {
  font-size: 12px;
  display: block;
  direction: rtl;
  text-align: start;
  color: #16255f;
  width: 300px;
}
.inputcontainer {
  height: 36px;
  position: relative;
  direction: rtl;
  margin: 12px auto;
  width: 300px;
}

.inputcontainer img {
  position: absolute;
  left: 0;
  width: 24px;
  height: 24px;
}

.inputcontainer label {
  position: absolute;
  font-size: 14px;
  color: #6c6c76;
  top: 0.4rem;
  z-index: 0;
  transition: all 0.15s ease-in-out;
}

.inputcontainer .activelabel {
  font-size: 11px;
  top: -10px;
  z-index: 20;
}
.inputcontainer .focuslabel {
  font-size: 11px;
  top: -10px;
  z-index: 20;
  color: #0068ff;
}
.inputcontainer .filledlabel {
  font-size: 11px;
  top: -10px;
  z-index: 20;
}

.inputcontainer .focusinput {
  border-bottom: 1px solid #0068ff;
}

.inputcontainer input {
  border: none;
  border-bottom: 1px solid #6c6c76;
  outline: none;
  width: 100%;
  height: 36px;
  font-family: inherit;
  text-align: right;
  position: relative;
  background: none;
}
.inputcontainer input:autofill {
  background: red;
}
.inputcontainer input:-webkit-autofill,
.inputcontainer input:-webkit-autofill:hover,
.inputcontainer input:-webkit-autofill:focus,
.inputcontainer input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.945) inset !important;
}
@media only screen and (min-width: 1700px) {
  .supercontainer {
    height: 140px;
  }
  .supercontainer span {
    font-size: 16px;
    width: 300px;
  }
  .inputcontainer {
    height: 56px;
    width: 300px;
  }

  .inputcontainer img {
    width: 36px;
    height: 36px;
  }

  .inputcontainer label {
    font-size: 1.3rem;
    top: 0.4rem;
  }

  .inputcontainer .activelabel {
    font-size: 1rem;
    top: -10px;
    z-index: 20;
  }
  .inputcontainer .focuslabel {
    font-size: 1rem;
  }
  .inputcontainer .filledlabel {
    font-size: 1rem;
  }

  .inputcontainer input {
    height: 46px;
  }
}
