.input {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  font-size: 0;
  height: 100%;
  width: 100%;
  background: red;
  cursor: pointer;
}
.btn {
  position: relative;
  cursor: pointer;
  border: 1px dashed gray;
  padding: 8px 14px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  font-family: inherit;
}
.container {
  cursor: pointer;
  height: 38px;
}
