:root {
  --main-color: #9c1be2;
  --second-color: #292d84;
  --gray-color: #6c6c76;
  --background-color: #f0f0f0;
}

@font-face {
  font-family: "IRANSans";
  src: local("IRANSans"),
    url(../public/assets/fonts/IRANSansWeb.ttf) format("truetype");
}
@font-face {
  font-family: "IranSansBold";
  src: local("IranSansBold"),
    url(../public/assets/fonts/IRANSansWeb.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: IRANSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}
/* scrollbar start */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* scrollbar end */
a {
  color: inherit;
  text-decoration: none;
}

p {
  color: var(--gray-color);
}

h4 {
  color: #202020;
}
/* custom classes */
.iconbtn {
  cursor: pointer;
}
.btn {
  border: none;
  font-family: inherit;
  cursor: pointer;
  padding: 1px 8px;
  margin: 2px;
}
.btn1 {
  border: none;
  font-family: inherit;
  cursor: pointer;
  background-color: #292d84;
  border: 2px solid #292d84;
  color: white;
  font-size: 18px;
  padding: 3px 18px;
  border-radius: 7px;
  margin: auto;
  transition: all 0.38s ease-in-out;
}
.btn1:hover {
  background-color: white;
  color: #292d84;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

.reverser {
  flex-direction: row-reverse;
}
.row {
  display: flex;
}
.crow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rrow {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1080px) {
  .rrow {
    flex-direction: column;
  }
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slick-dots {
  position: absolute;
  bottom: 16px;
  right: 4px;
  text-align: end;
}

.slick-dots li button:before {
  opacity: 1;
  color: #fff;
  font-size: 14px;
}
.slick-dots li.slick-active button:before {
  color: #ffc374;
}
.slick-prev {
  left: 24px;
  z-index: 20;
}
.slick-next {
  right: 24px;
  z-index: 20;
}
.sthr {
  transition: all 0.7s ease-in-out;
  width: 0;
  margin: 0 10px;
}
.activehr {
  border-color: #001e6c;
  width: calc((100vw - 320px) / 2);
}
.facecup-slick-slider {
  max-height: 0px;
  overflow: hidden;
  position: relative;
  top: 45vh;
  transition: all 0.7s ease-in-out;
}
.active-facecup-slick-slider {
  max-height: 100vh;
  top: 0;
}
.carousel-image div {
  display: block !important;
}

div .collapse {
  max-height: 140vh;
  padding: 5px 0;
  display: flex;
}

.rotate {
  transform: rotate(180deg);
}
#headerItems.headeritemsshow {
  max-height: 50vh;
}
@keyframes slide-in {
  0% {
    left: 0;
    opacity: 0;
  }
  5% {
    left: 200vw;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    right: 0;
    opacity: 0;
  }
  5% {
    right: 200vw;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

section {
  height: 100vh;
  background: #f4f6f6;
}
#carousel {
  height: calc(100vh - 72px);
}
.carousel-image div {
  min-height: calc(100vh - 72px);
}
.carousel-image div img {
  object-fit: fill;
}

#sponsors {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.sponsorimage.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  opacity: 1;
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
#light1.lightstart,
#light2.lightstart {
  max-height: 600px;
}
@media only screen and (min-width: 1700px) {
  #carousel {
    height: calc(100vh - 108px);
  }
  .carousel-image div {
    min-height: calc(100vh - 108px);
  }
  .btn1 {
    font-size: 1.7rem;
  }
}
